<a href="https://colab.research.google.com/github/arimbawa/Big-Data/blob/main/06_NoSQL_untuk_Big_Data_menggunakan_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pengenalan NoSQL untuk Big Data menggunakan MongoDB

# Tujuan Praktikum

1. Mahasiswa memahami konsep dasar NoSQL dan perbedaannya dengan database relasional.
2. Mahasiswa dapat membuat, membaca, memperbarui, dan menghapus data (CRUD operations) di MongoDB.
3. Mahasiswa mengenal integrasi MongoDB dengan Python (melalui PyMongo).

**NoSQL (Not Only SQL) adalah pendekatan database yang:**

- Tidak menggunakan struktur tabel tetap seperti SQL.
- Cocok untuk data besar, tidak terstruktur, dan bervariasi.
- Contoh NoSQL DB: MongoDB, Cassandra, Redis, HBase, CouchDB.
- MongoDB menggunakan format JSON-like document (BSON), sangat fleksibel untuk data beragam seperti log, IoT, media sosial, dsb.

# Langkah 1: Setup di Google Colab
Jalankan di sel pertama:

In [1]:
# Install MongoDB dependencies dan PyMongo
!pip install pymongo[srv]

Collecting pymongo[srv]
  Downloading pymongo-4.15.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
WARNING: pymongo 4.15.2 does not provide the extra 'srv'
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 7.8 MB/s eta 0:00:00
Downloading pymongo-4.15.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 45.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.2

Untuk praktikum ini, kita akan gunakan MongoDB Atlas (Cloud) supaya tidak perlu install server lokal.

# Langkah 2: Koneksi ke MongoDB Atlas

- Buka https://www.mongodb.com/atlas
 → buat akun gratis.
- Buat Cluster Free Tier (M0).
- Di menu Database Access, buat user dengan username dan password.
- Di menu Network Access, tambahkan IP 0.0.0.0/0.
- Dapatkan connection string, misalnya:
<<mongodb+srv://username:password@cluster0.mongodb.net/>>
- Masukkan ke Colab:

In [2]:
from pymongo import MongoClient

# Ganti dengan koneksi Anda sendiri
client = MongoClient("mongodb+srv://arimbawa_db_user:Lk5IxA6FtOhKu8ME@unram-iot.tsgdar6.mongodb.net/?retryWrites=true&w=majority&appName=unram-iot")
db = client["bigdata_lab"]

print("Koneksi berhasil ke database:", db.name)

Koneksi berhasil ke database: bigdata_lab

# Langkah 3: Membuat Koleksi dan Menyimpan Data

In [3]:
# Membuat koleksi (setara tabel)
mahasiswa = db.mahasiswa

# Menambahkan data
data_mhs = [
    {"nama": "Agus", "jurusan": "Informatika", "angkatan": 2022, "ipk": 3.75},
    {"nama": "Budi", "jurusan": "Sistem Informasi", "angkatan": 2021, "ipk": 3.50},
    {"nama": "Citra", "jurusan": "Teknik Komputer", "angkatan": 2023, "ipk": 3.90},
]
inserted = mahasiswa.insert_many(data_mhs)

print("Data berhasil disimpan. ID dokumen:", inserted.inserted_ids)

Data berhasil disimpan. ID dokumen: [ObjectId('68e47a9ae5bbeaf63e83a857'), ObjectId('68e47a9ae5bbeaf63e83a858'), ObjectId('68e47a9ae5bbeaf63e83a859')]

# Langkah 4: Membaca Data

In [4]:
for doc in mahasiswa.find():
    print(doc)

{'_id': ObjectId('68e47a9ae5bbeaf63e83a857'), 'nama': 'Agus', 'jurusan': 'Informatika', 'angkatan': 2022, 'ipk': 3.75}
{'_id': ObjectId('68e47a9ae5bbeaf63e83a858'), 'nama': 'Budi', 'jurusan': 'Sistem Informasi', 'angkatan': 2021, 'ipk': 3.5}
{'_id': ObjectId('68e47a9ae5bbeaf63e83a859'), 'nama': 'Citra', 'jurusan': 'Teknik Komputer', 'angkatan': 2023, 'ipk': 3.9}

Filter query:

In [5]:
for doc in mahasiswa.find({"jurusan": "Informatika"}):
    print(doc)

{'_id': ObjectId('68e47a9ae5bbeaf63e83a857'), 'nama': 'Agus', 'jurusan': 'Informatika', 'angkatan': 2022, 'ipk': 3.75}

# Langkah 5: Memperbarui dan Menghapus Data
Update:

In [6]:
mahasiswa.update_one(
    {"nama": "Agus"},
    {"$set": {"ipk": 3.85}}
)

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000011e'), 'opTime': {'ts': Timestamp(1759804123, 1), 't': 286}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1759804123, 1), 'signature': {'hash': b'\xb4\x8f\xf7\r\xbe?D\x8d;\xe9\xa5\xff\x00|\x1a\xc8\xab4\xf2\xf8', 'keyId': 7522925180776087557}}, 'operationTime': Timestamp(1759804123, 1), 'updatedExisting': True}, acknowledged=True)

Delete:

In [7]:
mahasiswa.delete_one({"nama": "Budi"})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff000000000000011e'), 'opTime': {'ts': Timestamp(1759804151, 1), 't': 286}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1759804151, 1), 'signature': {'hash': b'\xac\x94\xc3\xa87\xb0\xb5\x14J\xe4B\x83\xaf,\x89\x04\x88\x036}', 'keyId': 7522925180776087557}}, 'operationTime': Timestamp(1759804151, 1)}, acknowledged=True)

# Langkah 6: Analisis Sederhana (Aggregation)

Gunakan fitur agregasi MongoDB untuk menganalisis data besar:

In [8]:
pipeline = [
    {"$group": {"_id": "$jurusan", "rata_ipk": {"$avg": "$ipk"}}}
]
hasil = list(mahasiswa.aggregate(pipeline))
print(hasil)

[{'_id': 'Informatika', 'rata_ipk': 3.85}, {'_id': 'Teknik Komputer', 'rata_ipk': 3.9}]